name: GitHub Actions Demo

on:
  push:
    branches: [main]
    paths-ignore: [.github/**]
  pull-request:
    branches: [main]
  schedule:
    - cron: '15 6 * * 0'
  workflow_dispatch:
jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - run: |
        echo "The job was triggered by event: {{github.event_name}}"
        echo "the name of the branch is {{github.ref}} and the repi is {{github.repository}}"
      - uses: actions/checkoutv3.3.0
      - name: list files
        run: |
        echo "the repor {{github.repository}} has the following files"
        tree
